beautifulsoup4
black
chromadb
fastapi
google-genai
groq
httpx
langchain
langchain-chroma
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-openai
langgraph
langgraph-api
langgraph-cli
langsmith
mcp
pydantic
rapidfuzz
uvicorn