beautifulsoup4==4.14.3
    # via -r requirements.in
black==26.3.1
    # via -r requirements.in
chromadb==1.5.7
    # via
    #   -r requirements.in
    #   langchain-chroma
fastapi==0.135.3
    # via -r requirements.in
google-genai==1.73.1
    # via
    #   -r requirements.in
    #   langchain-google-genai
groq==0.37.1
    # via
    #   -r requirements.in
    #   langchain-groq
httpx==0.28.1
    # via
    #   -r requirements.in
    #   chromadb
    #   google-genai
    #   groq
    #   huggingface-hub
    #   langgraph-api
    #   langgraph-cli
    #   langgraph-sdk
    #   langsmith
    #   mcp
    #   openai
langchain==1.2.15
    # via -r requirements.in
langchain-chroma==1.1.0
    # via -r requirements.in
langchain-classic==1.0.3
    # via langchain-community
langchain-community==0.4.1
    # via -r requirements.in
langchain-core==1.2.29
    # via
    #   -r requirements.in
    #   langchain
    #   langchain-chroma
    #   langchain-classic
    #   langchain-community
    #   langchain-google-genai
    #   langchain-groq
    #   langchain-openai
    #   langchain-text-splitters
    #   langgraph
    #   langgraph-api
    #   langgraph-checkpoint
    #   langgraph-prebuilt
langchain-google-genai==4.2.1
    # via -r requirements.in
langchain-groq==1.1.2
    # via -r requirements.in
langchain-openai==1.1.13
    # via -r requirements.in
langgraph==1.1.6
    # via
    #   -r requirements.in
    #   langchain
    #   langgraph-api
    #   langgraph-runtime-inmem
langgraph-api==0.7.101
    # via -r requirements.in
langgraph-cli==0.4.21
    # via -r requirements.in
langgraph-runtime-inmem==0.27.3
    # via
    #   -r requirements.in
    #   langgraph-api
langsmith==0.7.31
    # via
    #   -r requirements.in
    #   langchain-classic
    #   langchain-community
    #   langchain-core
    #   langgraph-api
mcp==1.27.0
    # via -r requirements.in
pydantic==2.13.0
    # via
    #   -r requirements.in
    #   chromadb
    #   fastapi
    #   google-genai
    #   groq
    #   langchain
    #   langchain-classic
    #   langchain-core
    #   langchain-google-genai
    #   langgraph
    #   langsmith
    #   mcp
    #   openai
    #   pydantic-settings
rapidfuzz==3.14.5
uvicorn==0.44.0
    # via
    #   -r requirements.in
    #   chromadb
    #   langgraph-api
    #   mcp
